@media screen and (max-width: 800px) {
    .banner-header img {
        display: none;
    }
    .container-header .logo-menu a img {
        margin-left: 0;
    }
    .container-header .logo-menu {
        padding: 0;
    }
    .subtitle {
        margin-left: 0;
    }
    .social-media {
        display: flex;
        margin-right: 25px;
    }
    .banner-header p {
        font-size: 12px;
        margin-left: 10px;
    }
    .menu__icon {
        display: inline-block;
    }
    .menu__links {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 100px;
        z-index: 1000;
        overflow: auto;
        background-color: #fff;
    }
    .container-header .navbar .menu__links ul {
        flex-direction: column;
        align-items: baseline;
        margin-top: 20px;
    }
    .subtitle {
        display: none;
    }
    .navigation {
        justify-content: center;
        width: 100%;
        height: 136px;
        gap: 200px;
        padding-right: 0;
    }

    .container-header .navbar .menu__links ul {
        margin-right: 0;
        width: 100%;
    }
    .language ul {
        margin-right: -18px;
        padding: 0;
    }

    .container-header .navbar .dropdown:hover .dropdown-content {
        position: relative;
        min-width: 375px;
    }
    .container-header .navbar .dropdown .dropdown-content li a {
        height: 50px;
        font-size: 13px;
    }
    .conteudo {
        display: inline-block;
        cursor: pointer;
    }
    .mainBanner {
        justify-content: center !important;
    }
    .mainIllus,
    .dowloadContainer {
        margin: 2rem 0;
    }
    .mainIllus > img {
        max-width: 100%;
        margin: 0;
    }
    .mainInfo {
        padding: 20px;
    }
    .mainInfo > .title {
        font-size: 20px;
    }
    .title > svg {
        display: none;
    }
    .title > svg.notHidden {
        display: flex;
    }
    .container,
    .container-inicio,
    div.btn-inicio,
    .collapsible,
    .content,
    a.btn,
    .postInfo .info,
    .teamContainer > .teamSing {
        width: 100%;
    }
    .teamContainer > .teamSing {
        width: 100%;
        padding: 0;
    }
    
    img.inicio,
    div.paragrafo-inicio {
        width: 92.5%;
        margin-top: 100px;
        padding: 0;
    }
    .container-inicio {
        align-items: center;
        padding: 0;
        margin-top: 70px;
    }
    .container,
    .container-inicio {
        justify-content: center;
        margin: 1em 0 0 0;
        padding: 1em 0 0 0;
    }
    img.inicio {
        margin: 100px 0 20px 0;
    }
    .containerOficina {
        flex-direction: column;
        align-items: center;
    }
    .programInfo {
        margin-top: 40px;
        flex-direction: column;
    }
    .leftMarginSection {
        margin-left: 0;
    }
    .postBoxMasterclass {
        flex-direction: column !important;
        width: 90% !important;
        gap: 4rem;
        padding: 0 !important;
        margin: 0 !important;
    }
    div.postBox,
    .postBoxAfetos,
    .postBox1,
    .postBox3,
    .postBoxDistopia,
    .postBox2 {
        flex-direction: column;
        padding: 0.6em !important;
        width: 90% !important;
    }
    div.filmeImg {
        height: 200px;
        margin-bottom: 0.6em;
    }
    div.filmeImg,
    div.postInfo {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .postInfo > h2 {
        margin-bottom: 0;
    }
    .postInfo > p:last-child {
        margin-bottom: 30px;
    }
    .postInfo .info,
    div.btn-inicio .btn {
        margin-bottom: 0.6em;
    }
    div.btn-filmes,
    .container-inicio,
    div.btn-inicio {
        flex-direction: column;
    }
    div.btn-inicio .btn {
        margin: 0.2em 0;
    }
    a.btn {
        padding: 5px 0;
    }
    div.minCurr {
        width: 86%;
    }
    div.debateContainer {
        flex-direction: column;
        align-items: center;
    }
    .debateBox {
        margin: 0 0 2em 0;
        width: 95%;
    }
    .debateInfo > ul li .debateImg {
        margin: 0 0.5em 0 0;
    }
    .debateInfo > ul li span {
        width: 250px;
    }
    .debateInfo ul li {
        margin: 0.5rem;
    }
    .debateInfo ul li:last-child,
    .debateInfo ul li:first-child {
        margin-top: 0.5em;
    }
    .footer-distributed {
        flex-direction: column;
        padding: 60px 30px;
    }
    .footer-distributed ul {
        padding: 0;
    }
    .footer-distributed .footer-left img {
        width: 30%;
    }
    .footer-distributed .footer-left img {
        margin-bottom: 50px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        border-right: none;
        border-bottom: 1px solid #fff;
        width: 100%;
    }
    .footer-distributed .footer-center {
        margin: 30px 0;
        padding: 0 !important;
    }
    .footer-distributed .footer-left {
        flex-direction: column;
        width: 100% !important;
        align-items: initial;
        padding: 0 !important;
    }
    .footer-distributed .footer-left ul li a,
    .footer-distributed .footer-center ul li a {
        line-height: 2em;
    }
    .patrocinio {
        height: 45%;
        display: flex;
        justify-content: center;
    }
    .patrocinio-img {
        width: 100%;
        height: 85%;
        background-image: url(../img/logomarcas_mobile.svg);
    }
    #button {
        top: 40%;
        left: 40%;
        z-index: 0;
    }
    .div-video {
        flex-direction: column;
        height: 100%;
    }
    .div-video .paragraph-video p {
        width: 340px;
    }
    .video-footer {
        width: 85%;
    }
    .div-video .paragraph-video p,
    .div-video .paragraph-video h3 {
        margin-left: 30px;
    }
    #button > em {
        margin-bottom: 0;
        margin-left: 0;
    }
    #video-wrapper,
    #video {
        width: 100%;
        height: 100%;
    }
    .video {
        height: 350px;
    }
    .errorInfo {
        width: 75%;
    }
    .errorIllus > img {
        max-width: 98%;
        margin: 2em 0;
    }
}
@media (max-height: 800px) {
    footer {
        position: static;
    }
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media screen and (max-width: 1440px) {
    /* .mainInfo {
    width: 650px;
  } */
    .footer-distributed .footer-left {
        width: 40%;
        padding: 0 2em 0 0;
    }
    .footer-distributed .footer-center {
        padding: 0 2em 0 0;
    }
}

@media screen and (min-width: 2559px) {
    .footer-distributed .footer-left {
        width: 26%;
    }
    div.minCurr {
        width: 95%;
    }
    .patrocinio-img {
        width: 50%;
    }
    div.paragrafo-inicio {
        width: 40%;
    }
    img.inicio {
        width: 20%;
    }
}
